.body{
    background: #ffece5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.add-product{
  padding: 20px 40px;
  max-width: 700px; 
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 280px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=button], input[type=submit] {
  background-color: #ffe8d6;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  align-content: right;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #cb997e;
}

.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;   
  padding: 10px 0;
  overflow: hidden;
  padding: 10px 10px;
}
.fixed-header{
    top: 0; 
}

.fixed-footer{
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.container{
  float: right;
  margin-right: 50px;
}

div a{
  float: left;
  margin-left: 50px;
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 25px; 
}